* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.slider {
    height: 100vh;
    display: flex;
    align-items: center;
}

.slide, .prev, .next {
    float: left;
    height: 80%;
}

.slide {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}

.img-wrapper{
    width: 100%;
    height: 100%;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.slide img.active {
    display: inline-block;
}

.prev, .next {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev:hover, .next:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.1);
}

.bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bullets i {
    margin: 0 5px;
    color: rgb(255, 255, 255);
}

.bullets i:hover {
    cursor: pointer;
}
